#  All functions exported other than those starting with "."
exportPattern("^[^\\.]")

importFrom("corpcor", "cov.shrink")
importFrom("edgeR", "zscoreNBinom", "glmQLFit", "estimateDisp", "DGEList", "glmFit", "glmLRT", "topTags")
importFrom("stats", "model.matrix", "cov")
importFrom("cvTools", cvFolds)
